<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages theme="Default" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>